<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="nuxboxConnectionString" connectionString="Data Source=nuxbox.db.10247723.hostedresource.com;Initial Catalog=nuxbox;Persist Security Info=True;User ID=nuxbox;Password=Lt822243135!!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization uiCulture="en-CA" culture="en-CA"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages theme="mobile">
      <controls>
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
</configuration>